In [3]:
import pandas as pd

In [5]:
users = pd.read_json('user.json', lines=True)

In [6]:
users.head(3)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,l6BmjZMeQD3rDxWUbiAiow,Rashmi,95,2013-10-08 23:11:33,84,17,25,"2015,2016,2017","c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",5,...,0,0,0,0,1,1,1,1,2,0
1,4XChL029mKr5hydo79Ljxg,Jenna,33,2013-02-21 22:29:06,48,22,16,,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",4,...,0,0,0,0,0,0,1,1,0,0
2,bc8C_eETBWL0olvFSJJd0w,David,16,2013-10-04 00:16:10,28,8,10,,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",0,...,0,0,0,0,1,0,0,0,0,0

In [9]:
users.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [10]:
users.drop(columns=['yelping_since', 'elite', 'compliment_photos', 'friends'], inplace=True)

,user_id,name,review_count,useful,funny,cool,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer
0,l6BmjZMeQD3rDxWUbiAiow,Rashmi,95,84,17,25,5,4.03,2,0,0,0,0,1,1,1,1,2
1,4XChL029mKr5hydo79Ljxg,Jenna,33,48,22,16,4,3.63,1,0,0,0,0,0,0,1,1,0
2,bc8C_eETBWL0olvFSJJd0w,David,16,28,8,10,0,3.71,0,0,0,0,0,1,0,0,0,0
3,dD0gZpBctWGdWo9WlGuhlA,Angela,17,30,4,14,5,4.85,1,0,0,0,0,0,2,0,0,1
4,MM4RJAeH6yuaN8oZDSt0RA,Nancy,361,1114,279,665,39,4.08,28,1,0,0,1,16,57,80,80,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637133,oC4BjbB4I-wx5KBAO1k2Gg,Jiaxin,2,0,0,0,0,4.50,0,0,0,0,0,0,0,0,0,0
1637134,LKd_-BT2GMWp8_1ho18kOg,Wes,8,0,0,0,0,4.00,0,0,0,0,0,0,0,0,0,0
1637135,ib_elCBhGOamS0AALkh4Og,Lee,4,8,0,0,0,3.40,0,0,0,0,0,0,0,0,0,0
1637136,WV27LoSFDG_YmiDKTLKKLA,Melissa,1,1,0,0,0,3.00,0,0,0,0,0,0,0,0,0,0
1637137,agVqH9xDhNw8n7ve66H1Uw,Erin,1,0,0,0,0,5.00,0,0,0,0,0,0,0,0,0,0

In [12]:
users_data_to_keep = users[['user_id', 'name', 'review_count']]

In [13]:
import sys
sys.getsizeof(users_data_to_keep)

244916575

In [14]:
users_data_to_keep.to_csv('users.csv')